
/*set font and size of font in nav*/
.nav-pills{
	
	font-size: 30px;
	background-color:black;
	opacity: 

}



.page-wrapper{
	background-image: url("../images/emile-perron-190221.jpg");
	background-size: cover;
	height: 800px;
	font:56px/1.4 'Open Sans Condensed';
	margin-top: -10%; /*fix margin at header side*/

}