/*set font and size of font in nav*/

.nav-pills {
	font-size: 30px;
	background-color: black;
	opacity:
}

h1 {
	padding: 0;
	margin-top: 0px;
}

.page-wrapper {
	background-image: url("../images/emile-perron-190221.jpg");
	background-size: cover;
	height: 800px;
}

body {
	color: white;
	font: 56px/1.4 'Open Sans Condensed';
}