{% assign project = include.project %}

{% if site.hydejack.use_lsi or site.use_lsi %}
  {% assign related_projects = site.related_projects %}
{% elsif post.categories.first %}
  {% assign related_projects = site.categories[project.categories.first] | where_exp:"project", "project.url != page.url" %}
{% elsif project.tags.first %}
  {% assign related_projects = site.tags[project.tags.first] | where_exp:"project", "project.url != page.url" %}
{% else %}
  {% assign related_projects = site.related_projects %}
{% endif %}

{% if related_project.size > 0 %}
<aside class="related mb4" role="complementary">
  <h2 class="hr">{{ site.data.strings.related_projects | default:"Related Projects" }}</h2>

  <ul class="related-projects">
    {% for project in related_projects limit:3 %}
      {% include project-list-item.html project=project %}
    {% endfor %}
  </ul>
</aside>
{% endif %}
